# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (sensitive data)
.env
.env*.local

# Vercel & IDE settings
.vercel
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
